Tarea.5.5.XSD-XML-ProductosConAtributos/lista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listaproductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="producto" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="descripcion" minOccurs="0" type="xs:string" />
              <xs:element name="peso" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="codigo" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>